@import 'bootstrap-sprockets';
@import 'bootstrap';

$link: #000000;

a{
  color: $link;
}
.navbar {
  width: 100%;
  background-color: #921616;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #d3d3d3;
}

.center {
  text-align: center;
}

