
<div>
	<% if session_logged_in?%>
    <%= link_to 'New Guild', new_guild_path %>
      <% @guilds.each do |guild| %></br>
        <%= link_to "#{guild.name}[#{guild.guild_tag}]", guild_path(guild) %>
      <% end %>
  <% else %>
    <p class="center">Please log in to see the content of this page</p>
	<% end %>
</div>
